/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    header nav ul li {
        margin-right: 1%;
    }
    header .tel-block-head {
        font-size: 16px;
    }
    header .tel-block-head b {
        font-size: 20px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .tel-block-head-mobi {
        margin-top: 30px;
        p {
            font-size: 16px;
            font-weight: 300;
            margin-bottom: -10px;
            b {
                color: $brand-color;
                font-weight: 800;
                font-size: 16px;
            }
            span {
                margin-left: 1%;
                margin-right: 2%;
            }
        }
    }
    .block-search {
        margin-top: 0;
    }
    .hamburger-box {
        top: -15px;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: $brand-color;
    }
    button {
        outline: none;
    }
    .heading-news-mini {
        margin-top: 30px;
        img {
            margin-right: 15px;
            margin-bottom: 20px;
        }
        span {
            font-size: 1.875em;
            color: #000000;
            margin-left: 20%;
        }
    }
    .bg-menu {
        background-color: $brand-color;
    }
    #banner {
        padding: 20px 0;
        ul {
            li {
                margin-top: 20px;
                a {
                    text-decoration: none;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
     .paragraph {
            font-size: 16px;
        }
        .tag{
            font-size: 13px;
            color: $brand-color;
            a{
                text-decoration: underline;
                margin-left: 2%;
                color: #010101;
                font-weight: 300;
                font-size: 13px;
            }
        }
        .comment{
            font-size: 15px;
            i{
                color: $brand-color;
            }
        }
        .about{
            a{
                color: $brand-color;
                text-decoration: underline;
            }
        }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    header .logo img {
        margin-left: 0;
    }
    header .search-block {
        margin-top: 0;
    }
    .tel-block-head-mobi {
        margin-top: 30px;
        p {
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 20px;
            b {
                color: $brand-color;
                font-weight: 800;
                font-size: 16px;
            }
            span {
                margin-left: 1%;
                margin-right: 2%;
            }
        }
    }
    .hamburger-box {
        top: -50px;
    }
    #page .owl-carousel .owl-wrapper-outer {
        margin-top: 0;
    }
    .paragraph {
            font-size: 16px;
        }
        .tag{
            font-size: 13px;
            color: $brand-color;
            a{
                text-decoration: underline;
                margin-left: 2%;
                color: #010101;
                font-weight: 300;
                font-size: 13px;
            }
        }
        .comment{
            font-size: 15px;
            i{
                color: $brand-color;
            }
        }
        .about{
            a{
                color: $brand-color;
                text-decoration: underline;
            }
        }
}

@media only screen and (max-width: 669px) {
    .tel-block-head-mobi {
        .mini {
            height: 25px;
        }
        p {
            font-size: 0.75em;
        }
    }
    .hamburger-box {
        top: -40px;
    }
      .paragraph {
            font-size: 16px;
        }
        .tag{
            font-size: 13px;
            color: $brand-color;
            a{
                text-decoration: underline;
                margin-left: 2%;
                color: #010101;
                font-weight: 300;
                font-size: 12px;
            }
        }
        .comment{
            font-size: 15px;
            i{
                color: $brand-color;
            }
        }
        .about{
            a{
                color: $brand-color;
                text-decoration: underline;
            }
        }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
