/* google-font */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800&subset=cyrillic';

/* import */

@import "partials/variables";
@import "partials/typography";
@import "partials/buttons";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* genera-style */

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: $paragraph-color;
    font-size: 16px;
}

ol,
ul {
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover {
    text-decoration: none;
    -webkit-transition: all 0.15s linear 0s;
    -moz-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    -ms-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
}

a:focus {
    outline: medium none;
    text-decoration: none;
}


/* header */

#page {
    aside {
        // .logo {
        //     margin-top: 30px;
        //     img {
        //         margin-left: 30px;
        //     }
        // }
        .about-link {
            margin-top: 40px;
            padding-left: 10px;
            li {
                border-bottom: 1px dotted $paragraph-color;
                padding: 7px 0;
                a {
                    font-size: 0.8em;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $paragraph-color;
                    &:hover {
                        color: $brand-color;
                    }
                }
            }
        }
        .topuniver {
            margin-top: 60px;
            margin-bottom: 40px;
        }
        #form-aside {
            display: inline-block;
            margin-top: 50px;
            display: inline-block;
            #email-aside {
                height: 25px;
                width: 60%;
                border: 1px solid #b1b1b1;
                border-radius: 2px;
                font-weight: 400;
                font-style: italic;
                color: #4c4c4c;
                font-size: 13px;
                padding: 0 10px;
                display: inline-block;
                margin-left: 10%
            }
            button {
                border: none;
                display: inline-block;
                background-color: $brand-color;
                width: 25%;
                height: 25px;
                .fa {
                    color: #fff;
                }
                &:hover {
                    background-color: $brand-color-hover;
                }
            }
        }
        .adobe-ico-block {
            margin-top: 25px;
            img {
                margin-left: 15px;
                margin-right: 10px;
            }
            a {
                color: #4c4c4c;
                font-weight: 300;
                font-style: italic;
                text-decoration: underline;
                font-size: 14px;
                &:hover {
                    color: $brand-color-hover;
                }
            }
        }
        .icon-table-left-aside {
            margin-top: 10px;
            i {
                color: #2dc9f7;
                font-size: 25px;
                padding-left: 6%;
                padding-right: 5%;
            }
            a {
                color: #4c4c4c;
                font-weight: 300;
                font-style: italic;
                text-decoration: underline;
                font-size: 14px;
                &:hover {
                    color: $brand-color-hover;
                }
            }
        }
        .line-aside-block {
            border-top: 1px solid
        }
        .topnews-ico {
            margin-top: 50px;
            margin-bottom: 10px;
        }
        .block-last-news {
            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-image: url("../images/stripped.png");
            }
            h3 {
                font-size: 20px;
                font-weight: 600;
            }
            i {
                color: $brand-color;
                padding-right: 5px;
            }
            time {
                font-size: 14px;
            }
            a {
                color: $brand-color;
                text-decoration: underline;
                font-weight: 300;
                &:hover {
                    color: $brand-color-hover;
                }
            }
        }
    }
    nav {
        margin-top: 50px;
        ul {
            padding: 0;
            li {
                display: inline-block;
                margin-right: 3%;
                a {
                    text-decoration: none;
                    font-weight: 600;
                    color: #333333;
                    &:hover {
                        color: $brand-color-hover;
                    }
                }
            }
        }
    }
    .tel-block-head {
        margin-top: 30px;
        font-size: 20px;
        img {
            margin-top: 10px;
        }
        b {
            color: $brand-color;
            font-weight: 800;
            font-size: 25px;
        }
        p {
            margin-left: 17%;
            font-size: 14px;
        }
    }
    .icon-block-head {
        margin-left: 45%;
    }
    // .search-block {
    //     margin-top: 10px;
    //     input {
    //         border: none;
    //         border-radius: 1px;
    //         width: 70%;
    //         height: 25px;
    //         background-color: #fff;
    //         padding-left: 30px;
    //         outline: none;
    //         border: 1px solid #cfcfcf;
    //         color: #050000;
    //         position: relative;
    //         font-size: 14px;
    //     }
    //     i {
    //         position: absolute;
    //         left: 22px;
    //         color: $brand-color;
    //         top: 14px;
    //     }
    //     button {
    //         border: none;
    //         height: 25px;
    //         width: 23%;
    //         border-radius: 1px;
    //         font-size: 13px;
    //         color: #fff;
    //         text-transform: uppercase;
    //         background-color: #2dc7f5;
    //         margin-left: 2%;
    //         outline: none;
    //         line-height: 1px;
    //         &:hover {
    //             background-color: $brand-color-hover;
    //         }
    //     }
    // }
    .owl-carousel .owl-wrapper-outer {
        margin-top: 40px;
        border: 10px solid #dfdfdf;
    }
    .kroshki {
        &>.breadcrumb {
            padding: 0;
            margin-bottom: 0;
            background-color: #fff;
            margin-top: 25px;
            li {
                a {
                    color: #333333;
                    font-size: 15px;
                    font-weight: 400;
                    &:hover {
                        color: $brand-color-hover;
                    }
                }
            }
        }
    }
    .video-heading {
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 300;
        color: #4c4c4c;
        font-size: 24px;
        img {
            margin-right: 10px;
        }
    }
    .video-card {
        p {
            margin-top: 5px;
        }
        i {
            color: #b7b7b7;
            font-size: 15px;
        }
        time {
            color: #4c4c4c;
            font-weight: 300;
            font-size: 12px;
        }
        h4 {
            font-weight: 400;
        }
    }
    .line {
        border-top: 1px solid #e6e6e6;
    }
    .content-card {
        h4 {
            font-size: 35px;
        }
        p {
            margin-bottom: 10px;
            font-size: 14px;
            i {
                color: #2dc9f7;
                padding-right: 5px;
                font-size: 18px;
            }
            a {
                color: #2dc9f7;
                font-size: 13px;
                text-decoration: none;
            }
            time {
                font-size: 13px;
            }
        }
        img {
            margin-bottom: 15px;
            margin-top: 10px;
        }
        .paragraph {
            font-size: 17px;
        }
        .tag {
            font-size: 14px;
            color: $brand-color;
            a {
                text-decoration: underline;
                margin-left: 2%;
                color: #010101;
                font-weight: 300;
                font-size: 14px;
            }
        }
        .comment {
            font-size: 15px;
            i {
                color: $brand-color;
            }
        }
        .about {
            a {
                color: $brand-color;
                text-decoration: underline;
            }
        }
    }
    #form-aside {
        display: inline-block;
        margin-top: 50px;
        display: inline-block;
        #email-aside {
            height: 25px;
            width: 60%;
            border: 1px solid #b1b1b1;
            border-radius: 2px;
            font-weight: 400;
            font-style: italic;
            color: #4c4c4c;
            font-size: 13px;
            padding: 0 10px;
            display: inline-block;
            margin-left: 10%
        }
        button {
            border: none;
            display: inline-block;
            background-color: $brand-color;
            width: 25%;
            height: 25px;
            .fa {
                color: #fff;
            }
            &:hover {
                background-color: $brand-color-hover;
            }
        }
    }
    .adobe-ico-block {
        margin-top: 25px;
        img {
            margin-left: 15px;
            margin-right: 10px;
        }
        a {
            color: #4c4c4c;
            font-weight: 300;
            font-style: italic;
            text-decoration: underline;
            font-size: 14px;
            &:hover {
                color: $brand-color-hover;
            }
        }
    }
    .icon-table-left-aside {
        margin-top: 10px;
        i {
            color: #2dc9f7;
            font-size: 25px;
            padding-left: 6%;
            padding-right: 5%;
        }
        a {
            color: #4c4c4c;
            font-weight: 300;
            font-style: italic;
            text-decoration: underline;
            font-size: 14px;
            &:hover {
                color: $brand-color-hover;
            }
        }
    }
    .paginator {
        margin: 0;
        display: block;
        text-align: center;
        li{
            float: none;
            a{
                float: none;
                border: none;
                font-weight: 700;
                font-size: 24px;
                text-decoration: none;
                color: #868686;
                background-color: #fff;
                &:hover{
                    color: #2e99cb;
                    background-color: #fff;
                }
            }
            .active{
                color: #2e99cb;
            }

        }
        .suda{
            a{
                font-size: 18px;
                font-weight: 400;
            }
            a:before{
                content: "";
                display: inline-block;
                background-image: url("../images/back-suda.png");
                width:14px;
                height: 12px;
                margin-right: 1%;
            }
        }
        .tuda{
             a{
                font-size: 18px;
                font-weight: 400;
            }
            a:after{
                content: "";
                display: inline-block;
                background-image: url("../images/tuda-next.png");
                width:15px;
                height: 12px;
                margin-left: 1%;
            }
        }
    }

}

header {
    .logo {
        margin-top: 30px;
        img {
            margin-left: 5%;
        }
    }
    nav {
        margin-top: 50px;
        ul {
            padding: 0;
            li {
                display: inline-block;
                margin-right: 3%;
                a {
                    text-decoration: none;
                    font-weight: 600;
                    color: #333333;
                    &:hover {
                        color: $brand-color-hover;
                    }
                }
            }
        }
    }
    .search-block {
        margin-top: 30px;
        input {
            border: none;
            border-radius: 1px;
            width: 70%;
            height: 25px;
            background-color: #fff;
            padding-left: 30px;
            outline: none;
            border: 1px solid #cfcfcf;
            color: #050000;
            position: relative;
            font-size: 14px;
        }
        i {
            position: absolute;
            left: 22px;
            color: $brand-color;
            bottom: 6px;
        }
        button {
            border: none;
            height: 25px;
            width: 23%;
            border-radius: 1px;
            font-size: 13px;
            color: #fff;
            text-transform: uppercase;
            background-color: #2dc7f5;
            margin-left: 2%;
            outline: none;
            line-height: 1px;
            &:hover {
                background-color: $brand-color-hover;
            }
        }
    }
    .icon-block-head {
        margin-left: 45%;
    }
    .tel-block-head {
        margin-top: 30px;
        font-size: 20px;
        img {
            margin-top: 10px;
        }
        b {
            color: $brand-color;
            font-weight: 800;
            font-size: 25px;
        }
        p {
            margin-left: 17%;
            font-size: 14px;
        }
    }
}
#business_profitable {
  margin-top: 20px;

  p {
    color: #39c1f0;
    text-transform: uppercase;
    font-family: OpenSans, sans-serif;
    font-size: 2.5rem;
    b {
      font-family: OpenSans-Bold, sans-serif;
    }

  }
  .logo-top{
    margin-bottom:15px;
  }
  .number-phone {
    span {
      color: #39c1f0;
      font-size: 4.375em;
      b {
        font-size: 90px;
      }
    }
    a {
      text-decoration: none;
    }
  }
  #free_consultation {
    input[type=text] {
      border: 2px solid #999;
      outline: none;
      border-radius: 5px;
      width: 40%;
      height: 60px;
      color: #999;
      font-size: 2.4rem;
      padding-left: 20px;
    }
    button {
      width: 35%;
      height: 60px;
      border: none;
      outline: none;
      background-color: #39c1f0;
      border-radius: 15px;
      margin-left: 2%;
      font-family: OpenSans, sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-size: 2.4rem;
      b {
        font-family: OpenSans-Extrabold, sans-serif;
      }
      &:hover {
        background-color: #59cbf2;
      }
    }
    p {
        margin-top: 10px;
      color: #929292;
      font-size: .9rem;
      font-family: SegoeUI, sans-serif;
    }
  }
  .social-icon {
    margin-top: 30px;
    margin-bottom: 30px;
    a {
      margin-left: 50px;
      &:first-child {
        margin-left: 0;
      }
    }
    .sprite {
      background-image: url(../images/spritesheet.png);
      background-repeat: no-repeat;
      display: inline-block;
    }
    .sprite-facebook {
      width: 49px;
      height: 48px;
      background-position: -5px -5px;
    }
    .sprite-instagram {
      width: 48px;
      height: 49px;
      background-position: -64px -5px;
    }
    .sprite-ok {
      width: 49px;
      height: 48px;
      background-position: -122px -5px;
    }
    .sprite-twitter {
      width: 49px;
      height: 48px;
      background-position: -181px -5px;
    }
    .sprite-vk {
      width: 49px;
      height: 49px;
      background-position: -240px -5px;
    }
  }
  .widget-insta {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

footer{
    background-color: #f0f0f0;
    padding: 10px 0 10px 0;
    h4{
        color: #338ccd;
        font-weight: 300;
        text-transform: uppercase;
    }
    ul{
        padding-left: 0;
        li{
            a{
                color: #8f8f8f;
                font-weight: 300;
                text-decoration: none;
                font-size: 14px;
                &:hover{
                    color: $brand-color-hover;
                }
            }
        }
    }
    p{  margin-top: 10px;
        font-size: 12px;
        color: #4c4c4c;
        a{
            text-decoration: none;
            font-size: 12px;
            color: #4c4c4c;

        }
    }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border: 1px solid #ccc;
}

.responsive-video iframe,
.myvideo object,
.myvideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@import "plugins";

/* responsive */

@import "responsive";
