/* google-font */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800&subset=cyrillic';

/* import */

@import "partials/variables";
@import "partials/typography";
@import "partials/buttons";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* genera-style */

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: $paragraph-color;
    font-size: 16px;
}

ol,
ul {
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover {
    text-decoration: none;
    -webkit-transition: all 0.15s linear 0s;
    -moz-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    -ms-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
}

a:focus {
    outline: medium none;
    text-decoration: none;
}


/* header */

#page {
    aside {
        .logo {
            margin-top: 30px;
            img {
                margin-left: 30px;
            }
        }
        .about-link {
            margin-top: 40px;
            padding-left: 10px;
            li {
                border-bottom: 1px dotted $paragraph-color;
                padding: 7px 0;
                a {
                    font-size: 0.8em;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $paragraph-color;
                    &:hover {
                        color: $brand-color;
                    }
                }
            }
        }
        .topuniver {
            margin-top: 60px;
            margin-bottom: 40px;
        }
        #form-aside {
            display: inline-block;
            margin-top: 50px;
            display: inline-block;
            #email-aside {
                height: 25px;
                width: 60%;
                border: 1px solid #b1b1b1;
                border-radius: 2px;
                font-weight: 400;
                font-style: italic;
                color: #4c4c4c;
                font-size: 13px;
                padding: 0 10px;
                display: inline-block;
                margin-left: 10%
            }
            button {
                border: none;
                display: inline-block;
                background-color: $brand-color;
                width: 25%;
                height: 25px;
                .fa {
                    color: #fff;
                }
                &:hover {
                    background-color: $brand-color-hover;
                }
            }
        }
        .adobe-ico-block {
            margin-top: 25px;
            img {
                margin-left: 15px;
                margin-right: 10px;
            }
            a {
                color: #4c4c4c;
                font-weight: 300;
                font-style: italic;
                text-decoration: underline;
                font-size: 14px;
                &:hover {
                    color: $brand-color-hover;
                }
            }
        }
        .icon-table-left-aside {
            margin-top: 10px;
            i {
                color: #2dc9f7;
                font-size: 25px;
                padding-left: 6%;
                padding-right: 5%;
            }
            a {
                color: #4c4c4c;
                font-weight: 300;
                font-style: italic;
                text-decoration: underline;
                font-size: 14px;
                &:hover {
                    color: $brand-color-hover;
                }
            }
        }
        .line-aside-block {
            border-top: 1px solid
        }
        .topnews-ico {
            margin-top: 50px;
            margin-bottom: 10px;
        }
        .block-last-news {
            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-image: url("../images/stripped.png");
            }
            h3 {
                font-size: 20px;
                font-weight: 600;
            }
            i {
                color: $brand-color;
                padding-right: 5px;
            }
            time {
                font-size: 14px;
            }
            a {
                color: $brand-color;
                text-decoration: underline;
                font-weight: 300;
                &:hover {
                    color: $brand-color-hover;
                }
            }
        }
    }
    nav {
        margin-top: 50px;
        ul {
            padding: 0;
            li {
                display: inline-block;
                margin-right: 3%;
                a {
                    text-decoration: none;
                    font-weight: 600;
                    color: #333333;
                    &:hover {
                        color: $brand-color-hover;
                    }
                }
            }
        }
    }
    .tel-block-head {
        margin-top: 30px;
        font-size: 20px;
        img {
            margin-top: 10px;
        }
        b {
            color: $brand-color;
            font-weight: 800;
            font-size: 25px;
        }
        p {
            margin-left: 17%;
            font-size: 14px;
        }
    }
    .icon-block-head {
        
        margin-left: 45%;
    }
    .search-block {
        margin-top:10px;
        input {
            border: none;
            border-radius: 1px;
            width: 70%;
            height: 25px;
            background-color: #fff;
            padding-left: 30px;
            outline: none;
            border: 1px solid #cfcfcf;
            color: #050000;
            position: relative;
            font-size: 14px;
            
        }
        i {
            position: absolute;
            left: 22px;
            color: $brand-color;
            top: 14px;
            
        }
        button {
            border: none;
            height: 25px;
            width: 23%;
            border-radius: 1px;
            font-size: 13px;
            color: #fff;
            text-transform: uppercase;
            background-color: #2dc7f5;
            margin-left: 2%;
            outline: none;
            line-height: 1px;
            &:hover{
                background-color:$brand-color-hover;
            }
        }
    }
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
/* responsive */

@import "responsive";
