$icon-font-path: '../fonts/';

/* color-style */
$white: #fff;
$secondary-color: #00acef;
$brand-color: #2dc9f7;
$accent-color: #faa51a;
$heading-fonts-color: #373737;
$paragraph-color: #545454;
$brand-color-hover: #09b5e8;

